@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    font-family: 'Roboto',sans-serif;
    text-align: justify; 
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 15px;
}
.header_left{
    display: flex;
    align-items: center;
    font-size: 130%;
}
.header_left img{
    width: 150px;
    margin-left: 0px;

    padding: 10px;
}
header i{
    padding: 7px;
    cursor: pointer;
    border-radius: 50%;
}
header i:hover{
    background-color: rgb(194, 193, 193);
}
.header_search form{
    border: 1px solid #ddd;
    height: 30px;
    margin: 0;
    padding: 0;
    display:flex;
}
.header_search input{
    width: 500px;
    padding:10px;
    margin: 0;
    border-radius: 0;
    border: none;
}
.header_search button{
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 0;
}

.header_icon{
    font-size: 130%;
}
.h{
    border-top: 1px solid rgb(242, 238, 238);
}
/*MAIN BODY*/
main{
    display: flex;
    width: 100%;
}
.sidebar{
    width: 15%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    cursor: pointer;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 120%;
    border-right: 1.5px solid rgb(242, 238, 238);
}
.sidebar a{
    color: black;
    text-decoration: none;
    margin: 5px;
    padding: 5px;
    padding-left: 20px;
}
.sidebar a span{
    margin-left: 10px;
}
.sidebar a:hover{
    background-color: rgb(194, 193, 193);
}
.video_container {
    width: 85%;
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.box{
    width: 30%;
}
.box img{
    width: 100%;
}
.box, .box::before {
    cursor: pointer;
    border: solid rgb(200, 189, 189);
    
}
.box ::before{
    cursor: pointer;
    border: solid rgb(200, 189, 189);
}

.descp img{
    width :30px;
    height: 30px;
    border-radius: 50%;
}
.descp span{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-weight: bold;
    font-size: large;
    margin-bottom: 10%;
}
.descp:hover{
    cursor: pointer;
    width:30%
}

.subscrp img{
    height: 15%;
    width: 23%;
    border-radius: 50%;
}
.subscrp{
    padding-left:  15px ;
    padding-bottom: 20px;
    padding-top: 25px;

}
.u span{
    display:;
    justify-content: center;
    padding: none;
    font-display: ;
}