@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto',sans-serif;
}
.i{
    color:rgb(96,96,96);
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 15px;

}
.header_left{
    display: flex;
    align-items: center;
}
.header_left img{
    width: 130px;
    margin-left: 0px;
}
.header i{
    padding: 0px 7px;
    cursor: pointer;
}
.header_search form{
    border: 1px solid #ddd;
    height: 30px;
    margin: 0;
    padding: 0;
    display:flex;
}
.header_search input{
    width: 500px;
    padding:10px;
    margin: 0;
    border-radius: 0;
    border: none;
}
.header_search button{
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 0;
}
.header_icon i{
    width: 40px;
    height: 70px;
    padding: 10;
}
/*MAIN BODY*/
.sidebar{
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 0px;
}
